<div id="home" class="row-fluid center-block">
  <div class="panel panel-primary" id="navigation">
    <div class="panel-heading">
        <div class="row-fluid">
          <h3 class="panel-title"><span ng-hide="editMode">{{company.name}}</span>
            <input type="text" name="{{company.name}}" placeholder="{{company.name}}" ng-show="editMode" />
          </h3>
        </div>
      </div>
      <div class="panel-body">
        <div class="col-xs-4"><strong>Facebook:</strong> <span ng-hide="editMode">{{company.facebook}}</span>
          <input type="text" name="{{company.facebook}}" placeholder="{{company.facebook}}" ng-show="editMode" />
        </div>
        <div class="col-xs-4"><strong>Twitter:</strong> <span ng-hide="editMode">{{company.twitter}}</span>
          <input type="text" name="{{company.twitter}}" placeholder="{{company.twitter}}" ng-show="editMode" />
        </div>
        <div class="col-xs-4">
            <div class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><strong><span ng-hide="editMode">Settings<span class="caret"></span></span></strong></a>
              <h4><a  ng-show="editMode" ng-click="toggleEditMode()" id="updateCompany" href="" class="label label-success"><strong>Save</strong></a></h4>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to('manage users', root_path) %></li>
                <li><a href="" ng-click="toggleEditMode()">edit company</a></li>
                <li class="divider"></li>
                <li class="text-center"><%= link_to('goodbye', destroy_user_session_path, :method => :delete) %></li>
              </ul>
            </div
        </div>
      </div>
  </div>
  <pre data-bind="text: ko.toJSON($root, null, 2)"></pre>
  <div id="searchForm" class="col-xs-12 well well-lg">
    <form class="row-fluid">
      <p class="lead text-center">Provide your candidate's email and social networks to see information.</p>
      <div class="form-group col-xs-12">
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="emailaddress"><i class="fa fa-envelope fa-lg"></i></span>
          <input type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="form-group col-xs-12">
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="facebook_id"><i class="fa fa-facebook-square fa-lg"></i></span>
          <input type="text" class="form-control" placeholder="Facebook" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="form-group col-xs-12">
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="twitter_id"><i class="fa fa-twitter-square fa-lg"></i></span>
          <input type="text" class="form-control" placeholder="Twitter" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="form-group col-xs-12">
        <button type="submit" class="btn btn-success btn-lg btn-block">Submit</button>
      </div>
    </form>
  </div>
</div>