<div id="home" class="row-fluid center-block">
  <div class="col-xs-12">
    <p class="lead text-center">Provide recruits email and social networks to see information.</p>
  </div>
  <div id="searchForm" class="col-xs-12">
    <form class="row-fluid">
      <div class="form-group col-xs-12">
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="emailaddress"><i class="fa fa-envelope fa-lg"></i></span>
          <input type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="form-group col-xs-12">
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="facebook_id"><i class="fa fa-facebook-square fa-lg"></i></span>
          <input type="text" class="form-control" placeholder="Facebook" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="form-group col-xs-12">
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="twitter_id"><i class="fa fa-twitter-square fa-lg"></i></span>
          <input type="text" class="form-control" placeholder="Twitter" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="form-group col-xs-12">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
      </div>
    </form>
  </div>

  <!-- <%# @searches.each do |search| %> -->
  <!-- <div class="searchresult col-xs-12 col-md-6"> -->
      <!-- <div class="email"><%#= search.email %></div>
      <div class="email"><%#= search.facebook %></div>
      <div class="email"><%#= search.twitter %></div>
      <div class="email"><%#= search.sentiment %></div>
      <div class="email"><%#= search.reach %></div>
      <div class="email"><%#= search.following_company %></div>
      <div class="email"><%#= search.first_brand_interaction %></div> -->
      <!-- </div> -->
      <!-- <%# end %> -->
</div>